Skip to content
This repository  
Search
Pull requests
Issues
Gist
 @lukasheinrich
 Unwatch 3
  Star 1
 Fork 2 recast-hep/recast-control-center-prototype
 Code  Issues 11  Pull requests 0  Wiki  Pulse  Graphs  Settings
Branch: master Find file Copy pathrecast-control-center-prototype/recastcontrolcenter/templates/base.html
c1bb52e  on Apr 7, 2015
@lukasheinrich lukasheinrich basic setuptools structure
1 contributor
RawBlameHistory     185 lines (150 sloc)  7.29 KB
<!-- Latest compiled and minified CSS -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mprtect</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
</body>
    <div class="container">
        <h1>mprtect</h1>
    </div>
</body>
</html>